<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Spring</h1>
<p>회원가입</p>
<div class="container">
<form class="form-group" method="post">
<table style="border:1px solid">
    <tr>
        <td>
            <label for="name">이름</label>
        </td>
        <td>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:right">
            <button type="submit">등록</button>
        </td>
    </tr>
</table>
</form>
</div>
</body>
</html>